---
---

@import "{{ site.theme }}";
.main-content h3 {
    font-weight: bolder;
    border-top: 1px solid;
    border-left: 6px solid;
    padding-left: 12px;
    padding-top: 6px;
    margin-left: -8px;
    margin-top: 60px;
}

.main-content h2 {
    padding-left: 12px;
    border: 8px solid #159957;
    background-color: #159957;
    margin-left: -16px;
    font-weight: bolder;
    color: white;
    margin-bottom: -40px;
}
